[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
renku = {editable = true, ref = "master", git = "https://github.com/SwissDataScienceCenter/renku-python.git"}
click = "*"

[dev-packages]

[requires]
python_version = "3.6"
